<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />



<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />

<!--/meta 作为公共模版分离出去-->

<title> 轮播图编辑 </title>
</head>
<body>

<!-- <article class="page-container"> -->
    <form action="{:U('Admin/Carousel/edit')}" class="form form-horizontal" method="post" enctype="multipart/form-data" id="form-admin-add">
        <!-- 隐藏域接收ID -->
        <input type="hidden" name="id" value="{$list[0][cal_id]}">
        <input type="hidden" name="image" value="{$list[0][cal_image]}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>轮播图名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" style="width:400px;" placeholder="请输入商品名" name="cal_name" value="{$list[0][cal_name]}">
            </div>
        </div>
   

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>原轮播图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <img src="__PUBLIC__/carouselimage/{$list[0][cal_image]}" width="200" height="60">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上传修改图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" class="input-text" autocomplete="off"  style="width:400px;" name="Filedata">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>轮播图跳转地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" style="width:400px;" placeholder="请输入轮播图跳转网址" name="cal_address" value="{$list[0][cal_address]}">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" style="width:150px;" value="&nbsp;&nbsp;确定&nbsp;&nbsp;"  onclick="subform();">
            </div>
        </div>
    </form>
<!-- </article> -->

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery-form/jquery-form.js"></script> 

<script type="text/javascript" src="__PUBLIC__/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="http://lib.h-ui.net/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>  
 
<!--/_footer /作为公共模版分离出去--> 

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    
    $("#form-admin-add").validate({
        rules:{
            ad_adminer:{
                required:true,
                minlength:4,
                maxlength:16
            },
            ad_sex:{
                required:true,
            },
            ad_tel:{
                required:true,
                isMobile:true,
            },
            ad_email:{
                required:true,
                email:true,
            },
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        // submitHandler:function(form){
        //     $(form).ajaxSubmit();
        //     var index = parent.layer.getFrameIndex(window.name);
        //     parent.$('.btn-refresh').click();
        //     window.parent.location.reload();
        //     parent.layer.close(index);
            
        // }
    });
});
// function subform(){
//     var form = document.getElementById('form-admin-add');//获取表单dom
//     // form.action="testurl";//重新设置提交url
//     form.submit();//提交表单
//     setTimeout(function(){
//         windows.close()
//     },5000);//关闭窗口
//  }

// $("#form-admin-add").submit(function(e){
//     setTimeout(function(){
//         windows.close()
//     },5000);
// });
// $("#form-admin-add").submit();
// setTimeout(function(){windows.close()},2000);
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>


