<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<load href="__PUBLIC__/js/jquery-2.1.3.min.js" />
	<style>
		body{
			font-family: 微软雅黑
		}
	</style>
</head>
<body>
	<h1 style="color:red">订单详情</h1><hr><br><br>
	
	<table class="table table-hover" border="1" style="text-align:center">
		<tr>
			
			<th style="text-align:center;font-size:16px">商品名</th>
			<th style="text-align:center;font-size:16px">商品图</th>
			<th style="text-align:center;font-size:16px">商品单价</th>
			<th style="text-align:center;font-size:16px">购买数量</th>
			<th style="text-align:center;font-size:16px">状态</th>
			<th style="text-align:center;font-size:16px">操作</th>
		</tr>
			<foreach name="list" item="val">
		<tr>
			<td>{$val.g_name}</td>
			<td><img src="__PUBLIC__/goodsimage/{$val.g_picture}" height="50" width='50'/></td>
			<td  style="color:red">￥ {$val.g_price}</td>
			<td>{$val.g_num}</td>
			<td>{$val.is_comment}</td>

			<if condition="$message eq '已发货'">
				
				<td class="replace"><a href="javascript:;" onclick="shou(this,{$val.pid},{$val.detail_id})">确认收货</a></td>
				
			<elseif condition="$message eq '已收货'"/>
				<if condition="$val.is_comment eq '已评价'">
					<td class="form-group">已评价</td>
				<else/>
					<td class="form-group"><a  href='{:U("Home/Comment/index",array(id => $val[gid],detail_id =>$val[detail_id]))}'>评价</a></td>
				</if>
			<elseif condition="$message eq '无效订单'"/>
				<td class="form-group"><p>订单关闭</p></td>
			<elseif condition="$message eq '已付款'"/>
				<td class="form-group"><p>等待发货</p></td>
			</if>


		</tr>
		</foreach>
	</table><br>
	
</body>

<script>
	function shou(obj , id){
		if(confirm('确定收货?')){
			$.get("{:U('Home/Order/shou')}" , {'id' : id},function(data){
				if(data > 0){
					window.location.href="orderDetail.html?id="+data+"&message=已收货"
				}else{
					alert('收货失败');
				}
			})
		}
	}


</script>
</body>
</html>