<extend name="./Public/Home/head/base.html"/>
<block name="main">
<load href="__PUBLIC__/Home/css/cart.css"/>
      <div class="lecar_wap">
                              <div class="lepay_wrap" id="lepay_wrap" style="margin:0 auto;">
                                  <div class="lepay_content">
                                      <div class="none_shop">
                                          <p style="font-size:20px;">订单已完成!，请到<a href="__ROOT__/Home/User/index" style="text-decoration:none; color:blue;">个人中心</a>中查看订单详情</p>
                                          <a href="__MODULE__/index/show" style="color:red; text-align:center; ">继续购物>></a>
                                      </div>
                                  </div>
                              </div>
                         </div>     
</block>